*
!*.md
!docs/**
!.gitignore
# HDL
!*.vhd
# Vivado
!*.xdc
!*.tcl

# Radiant
!*.pdc
!*.rdf
# C/C++
!*.c
!*.h
!*.cpp
!*.hpp
!*.S
# CMake
!CMakeLists.txt
!soft/scripts/*
!*.ld
# Cocotb
!*.py

# Modelsim/Questa
!*.do

!*/

# CMake
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Vivado
*.runs
# Radiant
*impl_1*
*impl*

*_work