*
!*.md
!docs/**
!.gitignore
# HDL
!*.vhd
# Modelsim
!*.mpf
# Vivado
!*.xdc
!*.xpr
# Radiant
!*.pdc
!*.rdf
# C/C++
!*.c
!*.h
!*.cpp
!*.hpp
!*.S
# CMake
!CMakeLists.txt
!targets.cmake
!toolchain.cmake
!*.ld
!*/

# CMake
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Vivado
*.runs
# Radiant
*impl_1*